In [1]:
import pandas as pd
import numpy as np

In [2]:
scores = pd.read_csv('raw_scores.csv')
scores = scores.dropna(axis=1, how='all')
scores = scores.set_index('team')
scores

,30-Mar,06-Apr,13-Apr,20-Apr,27-Apr,04-May,11-May
team,,,,,,,
Those Girls,54.0,60.0,56.0,52.0,62.5,55.5,28.0
Team RaMarkable,44.0,49.0,53.0,54.0,67.0,NaN,50.0
Smarty Pints,42.0,51.0,59.0,50.5,58.5,48.5,46.0
Brady Bunch,41.0,49.0,58.0,52.0,59.5,54.5,51.0
Educated Guessers,43.0,41.0,52.0,50.0,57.5,52.0,41.0
Losers and Boozers,34.0,40.0,54.0,NaN,59.0,41.5,36.5
Jane St. Brewing,NaN,42.0,46.0,48.0,58.5,38.5,42.0
Taking A Whiz In The Quiz Pool,36.0,NaN,56.0,46.0,53.0,48.5,49.0
Quiz In My Pants,34.0,NaN,49.0,NaN,54.0,NaN,NaN
Palest Ales,NaN,NaN,NaN,55.0,56.0,NaN,NaN
Who's Crying Now,NaN,54.0,52.0,NaN,NaN,NaN,NaN
You're A Quizard Harry,NaN,43.0,NaN,NaN,47.0,NaN,NaN
Les Quizerables,NaN,35.0,46.0,NaN,NaN,NaN,NaN
The Bike Club,NaN,25.0,NaN,43.0,NaN,39.5,NaN
"Blood Sweat, and Beers",NaN,NaN,57.0,NaN,NaN,NaN,50.0
Trivia Monsters,39.0,NaN,NaN,NaN,NaN,NaN,NaN
Who's Crying Now?,38.0,NaN,NaN,NaN,NaN,NaN,NaN
The Wambsgans,37.0,NaN,NaN,NaN,NaN,NaN,NaN
Weapons of Mass Intoxication,37.0,NaN,NaN,NaN,NaN,NaN,NaN
I Got Nothing,NaN,NaN,NaN,NaN,53.5,NaN,NaN
The Peanut Butter Privateers,NaN,39.0,NaN,NaN,NaN,NaN,NaN
Team Canada 6942,NaN,NaN,47.0,NaN,NaN,NaN,NaN
Dumb and Dumber,36.0,NaN,NaN,NaN,NaN,NaN,NaN
Double D8,36.0,NaN,NaN,NaN,NaN,NaN,NaN
Canaussies,NaN,NaN,NaN,NaN,53.0,NaN,NaN
Many Beers of Experience,NaN,NaN,NaN,37.0,NaN,NaN,NaN
Walk In The Park,NaN,NaN,NaN,NaN,36.5,NaN,NaN
Jamsquad,NaN,8.0,NaN,NaN,NaN,NaN,NaN
Ali Cat,NaN,NaN,NaN,NaN,27.0,NaN,NaN
Mirkwood,NaN,NaN,NaN,NaN,NaN,43.0,43.0
Coast Crew,NaN,NaN,NaN,NaN,NaN,NaN,46.0
Must Love Beer,NaN,NaN,NaN,NaN,NaN,NaN,23.0

In [3]:
# Assign the base score to each team that week
# 35 for winner, 34 second, ...
# In the case of a draw, the two teams get the same base score 
# Ex. If second and third place draw, 
# 1st will get 35 pts, 2nd 34 pts, 3rd 34 pts, 4th 33 pts, etc

MAX_SCORE = 35

def get_unique_weekly_scores(weekly_scores):
    unique_scores = pd.Series(sorted(set(weekly_scores), reverse = True)).dropna()
    return unique_scores.values

def get_base_scores(weekly_scores):
    
    # get the unique scores from the week
    unique_scores = get_unique_weekly_scores(weekly_scores)
    
    # get the correct number of base scores for the week
    n = get_unique_weekly_scores(weekly_scores).shape[0]
    base_scores = np.arange(MAX_SCORE, MAX_SCORE-n, -1)
    
    # Create dictionary of scores to base score
    scores_dict = dict(zip(unique_scores, base_scores))
    scores_dict.update({0.0: 0})
    
    weekly_scores = weekly_scores.fillna(0)

    return weekly_scores.apply(lambda x: scores_dict[x])
    
get_base_scores(scores['30-Mar'])

team
Those Girls                       35
Team RaMarkable                   34
Smarty Pints                      32
Brady Bunch                       31
Educated Guessers                 33
Losers and Boozers                26
Jane St. Brewing                   0
Taking A Whiz In The Quiz Pool    27
Quiz In My Pants                  26
Palest Ales                        0
Who's Crying Now                   0
You're A Quizard Harry             0
Les Quizerables                    0
The Bike Club                      0
Blood Sweat, and Beers             0
Trivia Monsters                   30
Who's Crying Now?                 29
The Wambsgans                     28
Weapons of Mass Intoxication      28
I Got Nothing                      0
The Peanut Butter Privateers       0
Team Canada 6942                   0
Dumb and Dumber                   27
Double D8                         27
Canaussies                         0
Many Beers of Experience           0
Walk In The Park                   0
Jamsquad                           0
Ali Cat                            0
Mirkwood                           0
Coast Crew                         0
Must Love Beer                     0
Name: 30-Mar, dtype: int64

In [4]:
# Assign the bonus score to each team that week
# Bonus = Number of teams you beat
# In the case of a draw, you did not beat that team

def get_bonus_scores(weekly_scores):
    num_teams = weekly_scores[weekly_scores > 0].count()
    weekly_scores = weekly_scores.apply(lambda x: weekly_scores[weekly_scores < x].count())
    return weekly_scores
get_bonus_scores(scores['30-Mar'])

team
Those Girls                       13
Team RaMarkable                   12
Smarty Pints                      10
Brady Bunch                        9
Educated Guessers                 11
Losers and Boozers                 0
Jane St. Brewing                   0
Taking A Whiz In The Quiz Pool     2
Quiz In My Pants                   0
Palest Ales                        0
Who's Crying Now                   0
You're A Quizard Harry             0
Les Quizerables                    0
The Bike Club                      0
Blood Sweat, and Beers             0
Trivia Monsters                    8
Who's Crying Now?                  7
The Wambsgans                      5
Weapons of Mass Intoxication       5
I Got Nothing                      0
The Peanut Butter Privateers       0
Team Canada 6942                   0
Dumb and Dumber                    2
Double D8                          2
Canaussies                         0
Many Beers of Experience           0
Walk In The Park                   0
Jamsquad                           0
Ali Cat                            0
Mirkwood                           0
Coast Crew                         0
Must Love Beer                     0
Name: 30-Mar, dtype: int64

In [5]:
# Take a column of weekly scores and convert them
def adjust_weekly_scores(weekly_scores):
    adjusted_scores = get_base_scores(weekly_scores) + get_bonus_scores(weekly_scores)
    return adjusted_scores

adjust_weekly_scores(scores['30-Mar'])

team
Those Girls                       48
Team RaMarkable                   46
Smarty Pints                      42
Brady Bunch                       40
Educated Guessers                 44
Losers and Boozers                26
Jane St. Brewing                   0
Taking A Whiz In The Quiz Pool    29
Quiz In My Pants                  26
Palest Ales                        0
Who's Crying Now                   0
You're A Quizard Harry             0
Les Quizerables                    0
The Bike Club                      0
Blood Sweat, and Beers             0
Trivia Monsters                   38
Who's Crying Now?                 36
The Wambsgans                     33
Weapons of Mass Intoxication      33
I Got Nothing                      0
The Peanut Butter Privateers       0
Team Canada 6942                   0
Dumb and Dumber                   29
Double D8                         29
Canaussies                         0
Many Beers of Experience           0
Walk In The Park                   0
Jamsquad                           0
Ali Cat                            0
Mirkwood                           0
Coast Crew                         0
Must Love Beer                     0
Name: 30-Mar, dtype: int64

In [6]:
# Adjust the scores of all the columns

def adjust_all_scores(scores_df):
    for weekly_score in scores_df:
        weekly_scores = scores_df[weekly_score]
        scores_df[weekly_score] = adjust_weekly_scores(weekly_scores)
    return scores_df

scores = adjust_all_scores(scores)
scores['Total'] = scores.sum(axis = 1)
scores.sort_values(by='Total', ascending = False, inplace = True)
scores

,30-Mar,06-Apr,13-Apr,20-Apr,27-Apr,04-May,11-May,Total
team,,,,,,,,
Brady Bunch,40,40,45,39,45,41,46,296
Those Girls,48,47,40,39,47,43,28,292
Smarty Pints,42,43,47,37,40,36,38,283
Team RaMarkable,46,40,36,42,49,0,43,256
Educated Guessers,44,34,33,35,38,39,32,255
Taking A Whiz In The Quiz Pool,29,0,40,31,29,36,41,206
Losers and Boozers,26,32,38,0,43,32,30,201
Jane St. Brewing,0,36,26,33,40,28,34,197
Quiz In My Pants,26,0,31,0,34,0,0,91
"Blood Sweat, and Beers",0,0,43,0,0,0,43,86
The Bike Club,0,26,0,29,0,30,0,85
Palest Ales,0,0,0,44,36,0,0,80
Who's Crying Now,0,45,33,0,0,0,0,78
Mirkwood,0,0,0,0,0,34,36,70
You're A Quizard Harry,0,38,0,0,27,0,0,65
Les Quizerables,0,28,26,0,0,0,0,54
Trivia Monsters,38,0,0,0,0,0,0,38
Coast Crew,0,0,0,0,0,0,38,38
Who's Crying Now?,36,0,0,0,0,0,0,36
Weapons of Mass Intoxication,33,0,0,0,0,0,0,33
The Wambsgans,33,0,0,0,0,0,0,33
I Got Nothing,0,0,0,0,32,0,0,32
The Peanut Butter Privateers,0,30,0,0,0,0,0,30
Team Canada 6942,0,0,29,0,0,0,0,29
Dumb and Dumber,29,0,0,0,0,0,0,29
Double D8,29,0,0,0,0,0,0,29
Canaussies,0,0,0,0,29,0,0,29
Many Beers of Experience,0,0,0,27,0,0,0,27
Must Love Beer,0,0,0,0,0,0,26,26
Walk In The Park,0,0,0,0,25,0,0,25
Jamsquad,0,24,0,0,0,0,0,24
Ali Cat,0,0,0,0,23,0,0,23

In [7]:
scores.to_csv('adjusted_scores.csv')